



body {
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: rgb(177, 61, 61) rgb(48, 46, 43);   /* scroll thumb and track */ 
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(48, 46, 43);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(177, 61, 61);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(48, 46, 43);  /* creates padding around scroll thumb */
  }


.listAitem {
    float: right;
    border-left: 2px solid rgb(255, 255, 255);
    transition: transform 200ms;
}

.listAitem:first-last {
    border-left: none;
}

.listAitem:hover {
    transform: scale(1.2);
    --colour: rgb(146, 123, 46);
    border-left: 2px solid var(--colour);
    color: var(--colour);
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-style: initial;
}

.navigace {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: black;
    position: -webkit-sticky;
    position: relative;
    top: 0;
    margin: 0px;
    z-index: 3;
    transition: background-color 0.2s;
}
.navigace:hover {
    background-color: rgb(46, 46, 46);
}
.listNav {
    display: flex;
    width: max-content;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    margin: auto;
    width: 70px;
    display: flex;
    left: 25px;
    transition: transform 200ms;
}

#logo:hover {
    transform: scale(1.2);
}

.hlavninazev {
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 10px;
    text-shadow: 1px 1px;
    font-style: oblique;
    color: rgb(255, 255, 255);
    margin-left: 120px;
}

.hlavninazev:hover {
    color: rgb(131, 113, 56);
}

#auto {
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.2s;
    width: 85%;
}

.table_of_models {
    border-collapse: collapse;
    width: 80%;
    height: 350px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.nadpisy {
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgba(255, 0, 0, 0.658);
    font-size: 25px;
}

.table,
th,
td {
    border: 1px solid black;
    border-style: inherit;
    width: auto;
}

td {
    background-color: rgba(46, 36, 36, 0.349);
}

tr {
    height: 20px;
}

.decs {
    font-style: inherit;
    font-size: 20px;
}

.video {
    background-color: rgb(71, 71, 71);
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    position: relative;
}

body {
    margin: 0px;
}

html {
    height: min-content;
    margin: 0px;
    padding: 0px;
}

.prvnipolo {
    margin: 0px;
    padding: 0px;
}

#auto:hover {
    transform: scale(1.1);
}
.second_page_wrapper {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: max-content;
}
.info_article{
    display: flex;
    position: relative;
    width: 90%;
    height: max-content;
    /* border-top: 2px solid rgb(255, 0, 0);
    border-left: 2.5px solid rgb(255, 0, 0); */
    border-radius: .375rem;
    background-color: rgba(165, 162, 162, 0);
    background-origin: border-box;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right center;
    margin: auto;
}
#first_article {
    margin-top: 8rem;
    background-image: url(https://cdn.motor1.com/images/mgl/x6vAw/s3/2022-cadillac-ct4-v-blackwing.jpg);
}
#second_article {
    background-image: url(https://cdn.motor1.com/images/mgl/x6vAw/s3/2022-cadillac-ct4-v-blackwing.jpg);
    background-position: left center;

}
.info_text {
    width: 70%;

    position: relative;

    padding: 2rem;

    font-size: 27px;
    /* background-color: rgba(46, 36, 36, 0.349); */
    letter-spacing: 2px;
}

#short_info {

    padding-right: 65%;
    padding-left: 5%;
    word-wrap: normal;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;


    font-size: 27px;
    /* background-color: rgba(56, 48, 48, 0.596); */
    letter-spacing: 2px;
}
#short_info2 {
    position: relative;
    word-wrap: normal;
    padding-right: 5%;
    padding-left: 65%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 27px;
    /* background-color: rgba(46, 36, 36, 0.349); */
    letter-spacing: 2px;
}
.info_text article {

        background-color: rgba(56, 48, 48, 0.596);
        border-radius: 1rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 4px rgb(124, 126, 131);
        width: 100%;
}

.druhapolo {
    margin: 50px;
    padding: 30px;
    background-color: rgba(63, 56, 54, 0.226);
    box-shadow: 5px 5px;
    display: flex;
}

.orders_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    width: 80%;
    margin: 50px;
    padding: 5rem;
    background-color: rgba(63, 56, 54, 0.227);
    box-shadow: 5px 5px slategray;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: rgb(177, 61, 61) rgb(48, 46, 43);   /* scroll thumb and track */ 
}
.orders_wrapper::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .orders_wrapper::-webkit-scrollbar-track {
    background: rgb(48, 46, 43);        /* color of the tracking area */
  }
  
  .orders_wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(177, 61, 61);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(48, 46, 43);  /* creates padding around scroll thumb */
  }
  
.orders_item {
    display: inline-block;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;

    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    background-color: rgba(46, 36, 36, 0.349);
    letter-spacing: 2px;
    height: 400px;
    margin-right: 50px;
    /* margin: 50px; */
}

.order_item_price {
    color: rgba(80, 63, 63, 0.952);
    font-size: 25px;
    font-style: inherit;
    font-weight: bold;
}

.orders_item button {
    position: absolute;
    inset: auto auto 10px 0;
    border: none;
    border-bottom: 2px black solid;
    outline: 0;
    padding: 14px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.orders_item button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 481px) {
    .hlavninazev {
        /* display: none; */
    }

    .table_of_models {
        width: 90%;
    }

    .orders_item {
        max-width: 220px;
        font-size: 15px;
    }

    .orders_item2 {
        max-width: 220px;
        font-size: 15px;
    }

    .order_item_title {
        font-size: 24px;
    }
}

/* 
@media screen and (max-width: 600px) {
    .table_of_models {
        font-size: 18px;
    }
}

@media screen and (max-width: 570px) {
    .orders_item {
        max-width: 170px;
    }

    .orders_item2 {
        max-width: 170px;
    }

    .order_item_title {
        font-size: 18px;
    }

    .druhapolo {
        margin: 30px;
    }

    .short_info {
        margin: 30px;
    }

    .orders_wrapper {
        padding: 20px;
        margin: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 467px) {
    .listAitem {
        font-size: 13px;
    }

    #logo {
        width: 60px;
    }

    .druhapolo {
        margin: 30px;
    }

    .short_info {
        margin: 30px;
    }

    .orders_item {
        max-width: 140px;
        font-size: 12px;
    }

    .orders_item2 {
        max-width: 140px;
        font-size: 12px;
    }
}

@media screen and (max-width: 433px) {
    #logo {
        width: 55px;
    }

    li a {
        padding: 15px 24px;
    }

    .short_info {
        margin: 30px;
        font-size: 24px;
    }

    .druhapolo {
        margin: 30px;
        font-size: 20px;
        padding: 0px;
    }

    .orders_wrapper {
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 378px) {
    #logo {
        width: 45px;
    }

    li a {
        padding: 15px 20px;
    }

    .table_of_models {
        font-size: 15px;
    }

    th {
        font-size: 20px;
    }
}

@media screen and (max-width: 359px) {
    #logo {
        width: 45px;
    }

    li a {
        padding: 15px 18px;
    }

    .short_info {
        margin: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 345px) {
    #logo {
        display: none;
    }

    li a {
        padding: 15px 18px;
    }
} */
