.listAitem {
    float: right;
    border-left: 2px solid rgb(255, 255, 255);
    transition: transform 200ms;
}

.listAitem:first-last {
    border-left: none
}

.listAitem:hover {
    transform: scale(1.2);
    border-left: 2px solid rgb(131, 113, 56);
    color: rgb(131, 113, 56);
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-style: initial;
}

.navigace {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: black;
    position: -webkit-sticky;
    position: relative;
    top: 0;
    margin: 0px;
    z-index: 3;
}

.listNav {
    display: flex;
    width: max-content;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo {
    position: absolute;
    margin: auto;
    width: 70px;
    display: flex;
    left: 25px;
    transition: transform 200ms;
}

#logo:hover {
    transform: scale(1.2);
}

.hlavninazev {
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 10px;
    text-shadow: 1px 1px;
    font-style: oblique;
    color: rgb(255, 255, 255);
    margin-left: 120px;

}

.hlavninazev:hover {
    color: rgb(131, 113, 56);
}

#auto {
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: transform .2s;
    width: 85%;
}

.prvnitext {
    padding: 20px;
    border-right: 5px solid rgb(255, 0, 0);
    border-left: 5px solid rgb(255, 0, 0);
    font-size: 27px;
    background-color: rgba(46, 36, 36, 0.349);
    letter-spacing: 2px;
}

.tabulka {
    border-collapse: collapse;
    width: 50%;
    height: 350px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.nadpisy {
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgba(255, 0, 0, 0.658);
    font-size: 25px
}

.table, th, td {
    border: 1px solid black;
    border-style: inherit;
    width: auto;
}

td {
    background-color: rgba(46, 36, 36, 0.349);
}

tr {
    height: 20px;
}

.decs {
    font-style: inherit;
    font-size: 20px;
}

.video {
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    position: relative;
}

body {
    margin: 0px;
}

html {
    height: min-content;
    margin: 0px;
    padding: 0px;

}

.prvnipolo {
    margin: 0px;
    padding: 0px;
}

#auto:hover {
    transform: scale(1.1);
}

.druhapolo {
    margin: 50px;
    padding: 30px;
    background-color: rgba(63, 56, 54, 0.226);
    box-shadow: 5px 5px;
    display: flex;
}

.short_info {
    font-size: 27px;
    background-color: rgba(46, 36, 36, 0.349);
    letter-spacing: 2px;
    margin: 50px;
    padding: 20px;
    border-radius: 25px;
}

.orders_item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 490px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    background-color: rgba(46, 36, 36, 0.349);
    letter-spacing: 2px;
}

.order_item_price {
    color: rgba(80, 63, 63, 0.952);
    font-size: 25px;
    font-style: inherit;
    font-weight: bold;
}

.orders_item button {
    border: none;
    outline: 0;
    padding: 14px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.orders_item button:hover {
    opacity: 0.7;
}
.orders_wrapper {
    display: flex;
    margin: 50px;
    padding: 30px;
    background-color: rgba(63, 56, 54, 0.227);
    box-shadow: 5px 5px;
}




@media screen and (min-width: 481px) {
    .hlavninazev {
        display: none;
    }

    .tabulka {
        width: 100%;
    }

    .orders_item {
        max-width: 220px;
        font-size: 15px;
    }

    .orders_item2 {
        max-width: 220px;
        font-size: 15px;
    }

    .order_item_title {
        font-size: 24px;
    }
}

/* 
@media screen and (max-width: 600px) {
    .tabulka {
        font-size: 18px;
    }
}

@media screen and (max-width: 570px) {
    .orders_item {
        max-width: 170px;
    }

    .orders_item2 {
        max-width: 170px;
    }

    .order_item_title {
        font-size: 18px;
    }

    .druhapolo {
        margin: 30px;
    }

    .short_info {
        margin: 30px;
    }

    .orders_wrapper {
        padding: 20px;
        margin: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 467px) {
    .listAitem {
        font-size: 13px;
    }

    #logo {
        width: 60px;
    }

    .druhapolo {
        margin: 30px;
    }

    .short_info {
        margin: 30px;
    }

    .orders_item {
        max-width: 140px;
        font-size: 12px;
    }

    .orders_item2 {
        max-width: 140px;
        font-size: 12px;
    }
}

@media screen and (max-width: 433px) {
    #logo {
        width: 55px;
    }

    li a {
        padding: 15px 24px;
    }

    .short_info {
        margin: 30px;
        font-size: 24px;
    }

    .druhapolo {
        margin: 30px;
        font-size: 20px;
        padding: 0px;
    }

    .orders_wrapper {
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 378px) {
    #logo {
        width: 45px;
    }

    li a {
        padding: 15px 20px;
    }

    .tabulka {
        font-size: 15px;
    }

    th {
        font-size: 20px;
    }
}

@media screen and (max-width: 359px) {
    #logo {
        width: 45px;
    }

    li a {
        padding: 15px 18px;
    }

    .short_info {
        margin: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 345px) {
    #logo {
        display: none;
    }

    li a {
        padding: 15px 18px;
    }
} */